




@font-face {
    font-family: 'philosopherregular';

    src: url('./fonts/philosopher-regular-webfont.woff2') format('woff2'),

         url('./fonts/philosopher-regular-webfont.woff') format('woff'),

	 url('./fonts/Philosopher-Bold.ttf') format('truetype'),
	 url('./fonts/Philosopher-Regular.ttf') format('truetype');
    

font-weight: normal;    font-style: normal;

}
nav,.fig_caption,h1,h2,h3,h4,p,ul,table {     font-family: 'philosopherregular', Arial, sans-serif;
	 }
body{
background:rgb(177, 240, 189);
background: radial-gradient(circle, rgba(180,11,104,1) 4%,
                rgba(177, 240, 189) 27%, rgba(177, 240, 189) 64%,
		 rgba(255,124,0,1) 92%); 
   /*background: rgb(133,5,75);
    background: radial-gradient(circle, rgba(133,5,75,1) 8%,
                rgba(180,11,104,1) 27%, rgba(237,64,6,1) 64%,
		 rgba(255,124,0,1) 92%); */

/*background:rgba(177, 240, 189, 1);
     background:rgb(177, 240, 189);*/}
header,nav,main{box-shadow:5px 5px 5px 5px #fff;padding:3px;margin-bottom :2px;}

nav ul li{display:inline-block;border-radius:5px ;padding:6px;}
nav ul li a{text-decoration: none;font-size:25px;color:rgba(11, 20, 13, 1);
			color:rgba(11, 20, 13);}
nav ul li a:hover{color:rgba(140, 255, 163, 1);
			color:rgba(140, 255, 163);}
nav ul li{background:rgba(88, 161, 103, 1);background:rgb(88, 161, 103);}

h1{font-size:60px;text-decoration: underline;}
h2{font-size:35px;}
h3{font-size:25px;}
table, td {
  border: 1px solid #B4BFBBFF;border-collapse: collapse;
	
}
img,p{border:1px solid #F76A84FF;box-shadow:2px 2px 2px 2px #F76A84FF;padding:3px;}
.fig_caption,
footer{font-size:14px;}
.img1,.img2{width:230px;overflow:hidden;}
.img1{float:left;padding:5px;}
.img2{float:right;padding:5px;}

/*.img1,.img2{display:inline-block;padding-bottom:15px;}
.img1{left:3px;}
.img2{position:absolute;right:12px;}*/

/*
.img1,.img2{display:inline-block;margin-right:50%;}
.img1{float:left;}
.img2{float:right}*/